<app-loading *ngIf="cargarbuscar"></app-loading>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 col" type="search" placeholder="Buscar" aria-label="Search" #buscarArtista (keyup)="buscarArt(buscarArtista.value)">
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let item of artistas" (click)="verArtista(item.id)">
            <div class="card mb-3">
                <img src="{{ item.images | imagen }}" class="card-img-top" alt="{{ item.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <!--<div>
                        <span class="badge badge-primary ml-2" *ngFor="let arts of item.artists">{{ arts.name }}</span>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
